.homePresentation {
    display: flex;
    justify-content: space-between;  
    margin: 330px 200px 200px 200px;
    position: relative;
        &__text {
            font-size: 58px;
            font-weight: 700;
            width: 500px;
            text-align: left;
            margin: 100px;
                &--purple {
                    background: linear-gradient(60deg, #13B0F5, #E70FAA);
                    background-clip: text;
                    color: transparent;
                }
        }
        &__background {
            position: absolute;
            z-index: -1;
            animation: reactSpin infinite linear 6s;
                &--light {
                    width: 25%;
                    left: 145px;
                    top: 25px;
                }
        }
        &__picture {
            width: 45%;
            height: auto;
        }
}