@font-face {
    font-family: "AmericaCnRg";
    src: url("../../fonts/GTAmericaTrial-CnRg.ttf") format('truetype'),
         url("../../fonts/GTAmericaTrial-CnRg.woff") format('woff'),
         url("../../fonts/GTAmericaTrial-CnRg.woff2") format('woff2'),
}

@font-face {
    font-family: "AmericaExpTh";
    src: url("../../fonts/GTAmericaTrial-ExpTh.otf") format('opentype'),
         url("../../fonts/GTAmericaTrial-ExpTh.woff") format('woff'),
         url("../../fonts/GTAmericaTrial-ExpTh.woff2") format('woff2'),
}

@font-face {
    font-family: "AmericaExpRg";
    src: url("../../fonts/GTAmericaTrial-ExpRg.ttf") format('truetype'),
         url("../../fonts/GTAmericaTrial-ExpRg.woff") format('woff'),
         url("../../fonts/GTAmericaTrial-ExpRg.woff2") format('woff2'),
}

@font-face {
    font-family: "AmericaExpMd";
    src: url("../../fonts/GTAmericaTrial-ExpMd.ttf") format('truetype'),
         url("../../fonts/GTAmericaTrial-ExpMd.woff") format('woff'),
         url("../../fonts/GTAmericaTrial-ExpMd.woff2") format('woff2'),
}

@font-face {
    font-family: "AmericaExpBd";
    src: url("../../fonts/GTAmericaTrial-ExpBd.ttf") format('truetype'),
         url("../../fonts/GTAmericaTrial-ExpBd.woff") format('woff'),
         url("../../fonts/GTAmericaTrial-ExpBd.woff2") format('woff2'),
}

@font-face {
    font-family: "AmericaMonoMd";
    src: url("../../fonts/GTAmericaMonoMd.otf") format('opentype'),
         url("../../fonts/GTAmericaMonoMd.woff") format('woff'),
         url("../../fonts/GTAmericaMonoMd.woff2") format('woff2'),
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');