.about {
    text-align: center;
    margin: 150px 200px 200px 200px;
    font-family: 'Poppins', sans-serif;
        &__title {
            font-family: 'DM Sans', sans-serif;
            color: #1E0E62;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 150px;
        }
        &__container {
            display: flex;
            justify-content: space-between;
                &__picture {
                    width: 30%;
                    max-height: 190px;
                    align-self: center;
                }
                &__description {
                    width: 33%;
                    color: $secondary-text-color;
                        &__title {
                            font-size: 32px;
                        }
                        &__text {
                            font-size: 19px;
                            line-height: 25px;
                        }
                }
        }  
}