.about {
    text-align: center;
    margin: 150px 10% 200px 10%;
    font-family: 'Poppins', sans-serif;
        &__title {
            font-family: 'DM Sans', sans-serif;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 150px;
        }
        &__container {
            display: flex;
            justify-content: space-between;
                &__picture {
                    max-height: 190px;
                    align-self: center;
                }
                &__description {
                    width: 85%;
                    color: $secondary-text-color;
                    margin: auto;
                        &__title {
                            font-size: 32px;
                            color: #CCCCCC;
                        }
                        &__text {
                            font-size: 19px;
                            line-height: 25px;
                            color: #CCCCCC;
                        }
                        &--second {
                            align-self: center;
                        }
                }
        } 
        
    @media (max-width: $desktop-breakpoint) {
        &__title {
            margin-bottom: 60px;
        }
        &__container {
            flex-direction: column;
                &__picture {
                    margin-top: 40px;
                    margin-bottom: 100px;
                }
        }
    }
    @media (max-width: 500px) {
        &__container {
                &__picture {
                    width: 450px;
                }
        }
    }
    @media (max-width: 450px) {
        &__container {
                &__picture {
                    width: 400px;
                }
        }
    }
    @media (max-width: 400px) {
        &__container {
                &__picture {
                    width: 350px;
                }
        }
    }
    @media (max-width: 350px) {
        &__container {
                &__picture {
                    width: 300px;
                }
        }
    }
}