.contact {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin: 150px 10% 0 10%;
        &__text {
            color: #1E0E62;
            font-size: 50px;
            font-weight: 700;
            line-height: 70px;
            margin-bottom: 100px;
            width: auto;
                &--gradient {
                    background: linear-gradient(60deg, #13B0F5, #E70FAA);
                    background-clip: text;
                    color: transparent;
                    width: 20%;
                }
                @media (min-width: 925px) and (max-width: $desktop-breakpoint) {
                    font-size: 45px;
                    line-height: 60px;
                }
                @media (min-width: 825px) and (max-width: 924px) {
                    font-size: 40px;
                    line-height: 50px;
                }
                @media (min-width: 769px) and (max-width: 824px) {
                    font-size: 35px;
                    line-height: 45px;
                }
                @media (max-width: $tablet-breakpoint) {
                    font-size: 30px;
                    line-height: 40px;
                }
                @media (max-width: 550px) {
                    font-size: 25px;
                    line-height: 35px;
                    margin-bottom: 70px;
                }
                @media (max-width: 450px) {
                    margin-bottom: 50px;
                        &--gradient {
                            font-size: 20px;
                        }
                }
                @media (max-width: 450px) {
                        font-size: 18px;
                        line-height: 25px;
                }
        }
        &__form {
            font-family: 'Poppins', sans-serif;
            color: white;
            text-align: left;
            margin-left: 10%;
                &__name {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                        &__div {
                            display: flex;
                            flex-direction: column;
                            width: 40%;
                                &__input {
                                    margin-bottom: 10px;
                                    background-color: transparent;
                                    border: none;
                                    border-bottom: 1px solid white;
                                    color: white;
                                    outline: none;
                                    padding-left: 5px;
                                    padding-bottom: 5px;
                                        &::placeholder {
                                            color: white;
                                        }
                                }
                                &__error {
                                    color: red;
                                    margin-bottom: 40px;
                                }
                        }
                }
                &__email {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                        &__input {
                            margin-bottom: 10px;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid white;
                            color: white;
                            outline: none;
                            padding-left: 5px;
                            padding-bottom: 5px;
                                &::placeholder {
                                    color: white;
                                }
                        }
                        &__error {
                            color: red;
                            margin-bottom: 40px;
                        }
                }
                &__message {
                    display: flex;
                    position: relative;
                        &__input {
                            color: white;
                            width: 40%;
                            margin-bottom: 40px;
                            padding-left: 10px;
                            padding-top: 10px;
                            background-color: transparent;
                            min-width: 560px;
                                &::placeholder {
                                    color: white;
                                }
                        }
                        &__advert {
                            font-size: 10px;
                            color: $secondary-text-color;
                            position: absolute;
                            bottom: 35px;
                            left: 480px;
                            min-width: 82px;
                        }
                }
                &__submit {
                    margin-bottom: 100px;
                    padding: 10px;
                        &:hover {
                            cursor: pointer;
                        }
                }
        }

    @media (max-width: $tablet-breakpoint) {
        &__form {
            &__message {
                &__input {
                    min-width: 80%;
                }
                &__advert {
                    left: 5px;
                }
            }
        }
    }
    @media (max-width: 520px) {
        &__form {
            &__name {
                flex-direction: column;
                    &__div {
                        width: 70%;
                    }
            }
        }
    }
}