.darkButton {
    border: none;
    border-radius: 0 10px 10px 0;
    position: fixed;
    left: 0;
    top: 25%;
    padding: 20px;
    transition: .5s;
        &:hover {
            cursor: pointer;
        }
        &--sun {
            animation: reactSpin linear 5s infinite;
        }
        &--moon {
            animation: moonBalance linear 3s infinite;
        }
}

.modeSelector {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-radius: 0 0 10px 0;
    text-align: center;
    position: fixed;
    top: 25%;
    left: -280px;
    width: 280px;
    transition: .5s;
    z-index: 10;
        &__title {
            width: 50%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgrey;
        }
        &__switch {
            display: flex;
            justify-content: space-around;
                &__mode {
                    border: 1px solid black;
                    padding: 8px;
                    margin-bottom: 40px;
                    transition: .5s;
                        &:hover {
                            cursor: pointer;
                            color: white;
                            background-color: black;
                        }
                }
        }
}

.containerAppear {
    left: 0;
}

.buttonAppear {
    left: 280px;
}

@media (max-width: $tablet-breakpoint) {
    .darkButton {
        top: 17%;
        padding: 15px;
            &--moon {
                font-size: 20px;
            }
            &--sun {
                font-size: 20px;
            }
    }

    .modeSelector {
        top: 17%;
        width: 180px;
        left: -180px;
            &__switch {
                flex-direction: column;
                    &__mode {
                        width: 100px;
                        margin: auto;
                        margin-bottom: 20px;
                    }
            }
    }

    .containerAppear {
        left: 0;
    }

    .buttonAppear {
        left: 180px;
    }
}