.header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
        &__picture {
            margin-right: 50%;
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            width: 40%;
                &__part {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
                    align-self: center;
                        &:hover {
                            cursor: pointer;
                        }
                }
        }
}

.darkButton {
    margin-top: 20px;
    background-color: transparent;
    border: none;
        &:hover {
            cursor: pointer;
        }
}