.projectCard {
    width: 80%;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    min-width: 320px;
        &__container {
            background-color: lightgray;
            object-fit: cover;
                &__picture {
                    width: 90%;
                }
        }
        &__title {
            text-align: center;
            font-size: 28px;
                &:hover {
                    cursor: default;
                }
        }
        &__description {
            margin: 0 15px 0 15px;
            font-weight: lighter;
            font-size: 18px;
            line-height: 26px;
            color: $secondary-text-color;
            text-align: left;
                &:hover {
                    cursor: default;
                }
        }
        &__stack {
            margin: 20px 15px 0 15px;
            color: $primary-text-color;
            font-size: 16px;
            margin-bottom: 20px;
            text-align: left;
                &--lighter {
                    font-weight: lighter;
                }
                &:hover {
                    cursor: default;
                }
        }
        &__links {
            display: flex;
            justify-content: flex-end;
            margin: 10px 30px 20px 15px;
                &__part {
                    display: flex;
                    align-items: center;
                        &__picture {
                            width: 18px;
                            height: 18px;
                            margin-right: 7px;
                        }
                        &__text {
                            color: black;
                            font-size: 18px;
                        }
                }
        }

    @media (max-width: 400px) {
        min-width: 280px;
    }
}